<%- include('../partials/header', { pageClass: 'show-page' }) %>

<div class="article-show">

  <h1><%= article.title %></h1>

  <p class="description">
    <%= article.description %>
  </p>

  <div class="content">
    <%- article.html %>
  </div>

  <% if (user) { %>
    <div class="actions">

      <a href="/articles/<%= article._id %>/edit" class="edit-btn">
        编辑
      </a>

      <form action="/articles/<%= article._id %>?_method=DELETE" method="POST">
        <button class="delete-btn"
          onclick="return confirm('删除？')">
          删除
        </button>
      </form>

    </div>
  <% } %>

</div>

<%- include('../partials/footer') %>